.modalContainer {
	display: flex;
	flex-direction: column;
	background-color: var(--krds-color-gray-0);
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.048);
	border-radius: 0.75rem;
	/* 상하좌우 최대 너비 설정 */
	max-height: calc(100vh - 60px);
	max-width: calc(100vw - 60px);
	min-width: 25rem;
}

.modalContainerLarge {
	width: 75rem;
}

.modalContainerMedium {
	width: 50rem;
}

.modalContainerSmall {
	width: 25rem;
}

.modalContainerDialog {
	margin: 0 auto;
	padding: 24px;
	border-radius: 12px;
	display: grid;
	box-shadow: var(--shadow-bold);
	background-color: var(--krds-color-gray-0);
	box-sizing: border-box !important;
}

.modalCloseContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	right: 0;
	top: 0;
	width: 100%;
	height: 10px;
	order: -1;
	z-index: 1;
}

.buttonWrapSmall {
	padding: 1.5rem 1rem 0 0;
}

.buttonWrapMedium {
	padding: 1.5rem 1.25rem 0 0;
}

.buttonWrapLarge {
	padding: 2rem 1rem 0 0;
}
.modalCloseButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border: none;
	cursor: pointer;
	padding: 0;
	transition: all 0.2s ease-in-out;
	border-radius: 1rem;
	background: transparent;
}

.modalCloseButton svg {
	vertical-align: middle;
}

.modalCloseButton:hover {
	color: var(--krds-color-gray-60);
	background-color: var(--krds-color-gray-10);
	opacity: 0.8;
}

.modalCloseButton:focus-visible {
	outline: none;
	box-shadow:
		0 0 0 1px var(--krds-color-gray-0),
		0 0 0 3px var(--krds-color-primary-40);
}
