.label {
	display: flex;
	align-items: center;
	gap: 4px;
	margin: 0;
	padding: 0;
	color: inherit;
}

/* Size Styles - Large (h2 기준) */
.size_l {
	font-size: 1.5em;
	line-height: 1.3;
}

@media (min-width: 640px) {
	.size_l {
		font-size: 1.25em;
		line-height: 1.3;
	}
}

/* Size Styles - Medium (h3 기준) */
.size_m {
	font-size: 1.063em;
	line-height: 1.4;
}

@media (min-width: 640px) {
	.size_m {
		font-size: 1.063em;
		line-height: 1.4;
	}
}

/* Size Styles - Small (h4 기준) */
.size_s {
	font-size: 1em;
	line-height: 1.5;
}

@media (min-width: 640px) {
	.size_s {
		font-size: 1em;
		line-height: 1.5;
	}
}

/* Size Styles - Extra Small (h5 기준) */
.size_xs {
	font-size: 0.8125em;
	line-height: 1.6;
}

@media (min-width: 640px) {
	.size_xs {
		font-size: 0.8125em; /* 동일하게 유지 */
		line-height: 1.6;
	}
}

/* Weight Styles */
.weight_regular {
	font-weight: 500;
}

.weight_bold {
	font-weight: 700;
}

.required {
	color: var(--krds-color-point-50);
}
