.fileItem {
	padding: 12px;
	border: 1px solid var(--krds-color-gray-20);
	border-radius: 8px;
	background-color: var(--krds-color-gray-0);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	max-width: 71rem;
	width: 100%;
	box-sizing: border-box;
}

.fileItemHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fileNameLabel {
	font-size: 1.063rem;
	width: 100%;
	font-weight: 500;
	color: var(--krds-color-gray-90);
}

.error {
	border-color: var(--krds-color-danger-50);
	background-color: var(--krds-color-danger-5);
}

.errorMessage {
	display: flex;
	align-items: flex-start;
	gap: 6px;
	color: var(--krds-color-danger-60);
	border-top: 1px solid var(--krds-color-gray-40);
	padding-top: 1rem;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.deleteButton {
	display: flex;
	align-items: center;
	justify-content: end;
	color: var(--krds-color-gray-90);
	font-size: 1.063rem;
	cursor: pointer;
	min-height: unset;
	min-width: unset;
	padding: 0;
}

.viewButton {
	min-height: unset;
	min-width: unset;
	padding: 0;
	height: fit-content;
}

.viewButton:hover {
	color: var(--krds-color-gray-90);
}

.deleteButton:hover {
	color: var(--krds-color-gray-90);
}

.errorMessageLabel {
	font-size: 1.063rem;
	font-weight: 400;
	color: var(--krds-color-danger-60);
	line-height: 1.625rem;
}

.buttonGroup {
	display: flex;
	gap: 0.875rem;
	align-items: center;
	justify-content: flex-end;
}
