@font-face {
	font-family: "Pretendard GOV";
	font-weight: 100;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-Thin.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 200;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-ExtraLight.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 300;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-Light.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 400;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-Regular.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 500;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-Medium.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 600;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-SemiBold.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 700;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-Bold.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 800;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-ExtraBold.otf")
		format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Pretendard GOV";
	font-weight: 900;
	font-style: normal;
	src: url("../../../../../lib/assets/font/PretendardGOV-Black.otf")
		format("opentype");
	font-display: swap;
}

html {
	font-family:
		"Pretendard GOV",
		ui-sans-serif,
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		Roboto,
		"Helvetica Neue",
		Arial,
		"Noto Sans",
		sans-serif,
		"Apple Color Emoji",
		"Segoe UI Emoji",
		"Segoe UI Symbol",
		"Noto Color Emoji";
}
* {
	font-family:
		"Pretendard GOV",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Roboto",
		"Oxygen",
		"Ubuntu",
		"Cantarell",
		sans-serif;
}

body {
	font-family:
		"Pretendard GOV",
		-apple-system,
		BlinkMacSystemFont,
		"Segoe UI",
		"Roboto",
		"Oxygen",
		"Ubuntu",
		"Cantarell",
		sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

button,
input,
textarea,
select,
label,
span,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
}
