.heading {
	margin: 0;
	font-weight: 700;
}

.h1 {
	font-size: 40px;
	line-height: 60px;
}
.h2 {
	font-size: 32px;
	line-height: 48px;
}
.h3 {
	font-size: 24px;
	line-height: 36px;
}
.h4 {
	font-size: 20px;
	line-height: 30px;
}
.h5 {
	font-size: 16px;
	line-height: 26px;
}

@media (max-width: 600px) {
	.h1 {
		font-size: 32px;
		line-height: 48px;
	}
	.h2 {
		font-size: 24px;
		line-height: 36px;
	}
	.h3 {
		font-size: 22px;
		line-height: 34px;
	}
	.h4 {
		font-size: 19px;
		line-height: 30px;
	}
	.h5 {
		font-size: 17px;
		line-height: 26px;
	}
}
