.overlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.75);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 10;
}

.contentBox {
	background-color: var(--krds-color-gray-0);
	border-radius: 12px;
	min-height: 24px;
	position: absolute;
	max-width: 100%;
	max-height: 100%;

	display: flex;
	flex-direction: column;
}

.titleWrapper {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 10px;
	padding: 1rem;
}

.contentWrapper {
	flex-grow: 1;
	flex-shrink: 0;
	overflow: auto;
}

.title {
	padding-top: 24px;
	font-size: 17px;
	font-weight: 700;
	color: var(--krds-color-gray-70);
	flex: 1;
}
