.tableContainer {
	font-family: "pretendard GOV";

	div:has(span[data-mui-internal-clone-element="true"]) {
		overflow: visible;
	}

	& span[data-mui-internal-clone-element="true"] {
		margin-left: 2px;
		&:active {
			opacity: 1;
		}

		&:focus-within {
			opacity: 1;

			span {
				outline: 1px solid var(--krds-color-primary-50);
				border-radius: 2px;
				opacity: 1;

				svg {
					opacity: 0.3;
				}
			}
		}

		& span {
			width: 20px;
			height: 20px;
		}
	}

	.MuiTableRow-root {
		outline: unset;
	}
}
.sortIcon {
	all: unset;
}

.rowWithIcon {
	display: flex;
	gap: 8px;
	align-items: center;
}

.rowWithIconContent {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/*flex-grow: 1;*/
	min-width: 0;
}

.allowOverflow {
	overflow: visible;
	white-space: wrap;
	text-overflow: unset;
	word-break: break-word;
	/*flex-grow: 1;*/
	min-width: 0;
}

.emptyTable {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px 16px;
	min-height: 56px;
	border-bottom: 1px solid var(--krds-color-secondary-20);
	box-sizing: border-box;

	font-weight: 400;
	line-height: 26px;
	letter-spacing: var(--krds-typo-letter-spacing-0);
	width: 100%;
	color: #000615;
}

.tableRow:active td::after {
	background-color: var(--krds-color-information-5);
}

.accordionContent {
	background-color: var(--krds-color-gray-20);
	font-weight: 400;
	font-size: 17px;
	line-height: 26px;
	color: var(--krds-color-gray-90);
	padding: 16px;
	border-bottom: 1px solid var(--krds-color-gray-20);
}

.toggleColumnStyle {
	display: grid;
	grid-template-columns: 90% auto;
	align-items: center;
	gap: 8px;
}

.toggleColumnLabel {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.toggleColumnIcon {
	display: flex;
	align-items: center;
	justify-content: center;
}
