.mTableItem {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 1rem;
    border-bottom: 1px solid var(--krds-color-gray-20);

    &:hover {
        background-color: var(--krds-color-gray-5);
    }

    &:active {
        background-color: var(--krds-color-information-5);
    }
}

.mTableItemContent {
    display: flex;
    font-size: 15px;
    color: var(--krds-color-gray-70);
    font-weight: var(--krds-typo-font-weight-regular);
    line-height: 24px;
}

.mTableItemTitle {
    font-size: 17px;
}
