.masthead {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	min-height: 32px;
	padding-left: 22.5rem;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--krds-color-secondary-5);
}

.flag {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.label {
	font-weight: 400;
	font-size: 0.938rem;
	white-space: nowrap;
}

@media (max-width: 768px) {
	.masthead {
		padding-left: 0;
		justify-content: center;
	}
}
