.masthead {
	width: 100%;
	box-sizing: border-box;
	background-color: var(--krds-color-secondary-5);
}

.inner {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	min-height: 32px;
	margin: 0 auto;
	padding: 0 24px;
	box-sizing: border-box;
}

.flag {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}

.label {
	font-weight: 400;
	font-size: 0.938rem;
}

@media (max-width: 768px) {
	.inner {
		justify-content: center;
		padding: 4px 16px;
	}

	.label {
		word-break: keep-all;
	}
}
